
.btn-options {
  background:rgb(36, 36, 36);
  width: 150px;
  height: 150px;
  border: 5px solid rgb(255, 81, 0);
  border-radius: 75px;
  margin: 15px;
}
.btn-options img{
  height: auto;
}
body{
  color: aliceblue;
}

img{
  width: 50px;


}

.container{
  display:flex;
  flex-direction: column;
  background-color:  rgb(10, 14, 19);
  text-align: center;
  max-width: 800px;
  min-height: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  border: 2px solid black;
  }
.butttons-container{
  margin-top: 70px;

}
.outcome{
  display: flex;
  flex-direction: column;
  margin: 40px;
  text-align: center;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}
.display{
  display: flex;
  flex-direction: column;
  max-width: 700px;
  background-color: rgb(34, 30, 30);
}
.winner{
  border: 2px solid red ;
  background-color: rgb(87, 86, 86);
}
button{
  width: 200px;
  color: aliceblue;
  background-color:rgb(36, 36, 36);
  font-size: 22px;
  border: 2px solid red;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 12px;
}